main p {
    color: #96c5f7;
}

body {
    color: #93acb5;
    font-family: 'Times New Roman', Times, serif;
    background-color: #eaefd3;
}

header h1 {
    color: hsl(148, 56%, 19%);
}
main h1{
    color: slategray;
}
#pres {
    color: brown;
} 
nav{color: rgb(25, 178, 178);}
#pres2 {
    color: #a9d3ff;
}
.Sda {
    color: #93acb5;
}
.loco {
    font-style: italic;
}
.l {
    font-weight: bolder;
}
