body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    background-color: aqua;
    width: 100%; 
    padding: 16px;
    text-align: center;
}

nav {
    background-color: azure;
    text-align: center;
    padding: 20px;
    font-size: x-large;
    margin: 0 30px;
}

nav a {
    margin: 0 50px;
    text-decoration: none;

}

nav a:hover {
    text-decoration: underline;
}

nav a.active {
    color: red;
    font-weight: bold;
    border-bottom: 2px solid red;
}

  

footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 13px;
    margin-top: 32px;
}

.table {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
}

table {
    border: 2px solid #333;
    border-collapse: collapse;
    width: 100%;
    background-color: white;
}

caption {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

th, td {
    border: 1px solid #555;
    padding: 10px;
    text-align: center;
}

thead {
    background-color: aqua;
    color: rgb(0, 0, 0);
}

/* page5 */

main .f {
    max-width: 700px;
    margin: 32px auto;
    background: white;
    padding: 32px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  }
  
h2 {
    color: rgb(0, 0, 0);
  }
  
form {
    width: 100%;
  }
  
fieldset {
    border: 2px solid aqua;
    border-radius: 8px;
    padding: 16px 24px;
  }
  
legend {
    font-weight: bold;
    color: rgb(17, 17, 17);
    padding: 0 8px;
  }

  button {
    display: flex;
    justify-content: center;
    background-color: aqua;
    color: rgb(5, 5, 5);
    border-radius: 6px;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
  }
  
button:hover {
    background-color: aquamarine;
  }

@media ONLY screen AND (max-width: 400px) {
    nav{
        flex-direction: column;
        justify-content: center;

    }

    .main-row {
        flex-direction: column-reverse;
    }

    .sidebar {
        width:100%;
    }
}